<div class="adminfooterclass">
<footer class="bg-dark text-light text-center py-2">
    <p>&copy; 2023 Your Admin Panel. All rights reserved.</p>
</footer>
</div>
<script>
    // Function to hide the error message after a certain duration
    function hideErrorMessage() {
        const errorMessage = document.getElementById('errorMessage');
        if (errorMessage) {
            errorMessage.style.display = 'none';
        }
    }

    // Hide the error message after 3000 milliseconds (3 seconds)
    setTimeout(hideErrorMessage, 3000);
</script>