  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="/">  
          <div class="logo-image" style="width:20">
            <img
              src="/assets/nav/logo.png"
              class="img-fluid">
          </div>
        </a>
        <a class="navbar-brand" href="/admin/dashboard">Dashboard</a> 
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/admin/userView">Users</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/productView">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/category">Category</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/order">Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/logOut">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/coupon">Coupon</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin/banner">Banner</a>
            </li>
          </ul>
          <!-- <form class="d-flex" action="/admin/search" method="post">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
         
          <!-- Icons -->
          <ul class="navbar-nav d-flex flex-row me-1">
            <!-- <li class="nav-item me-3 me-lg-0">
              <a class="nav-link text-black" href="#"><i class="fas fa-heart"></i></a>
            </li>
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link text-black" href="#"><i class="fas fa-shopping-cart"></i></a>
            </li> -->
            <li class="nav-item me-3 me-lg-0">
              <a class="nav-link text-black" href="#"><i class="fas fa-user"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>